.boton {
    min-width: 167px;
    height: 80px;
    border-radius: 10px;
    background: #6278F7;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 28px;
    margin: 40px 0px;
    cursor: pointer;
}

.boton:hover {
    color: #95FFD4;
}